.container {
    /* max-width: 50rem; */
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  /* .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5%;
    
  } */
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .navi {
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom:5em;
  
}
.name {
  display:flex;
  justify-content: space-evenly;
  margin-right:40%
  
}
.link {
  display:flex;
  justify-content: space-between;
}

.link > li {
  margin-left: 20px;
  font-weight:bold;
  font-size: 1.5rem;
}

.name > .image {
  margin-right: 20px;
  margin-top:20px;
}

.footer {
  max-width: 70rem;
  margin-left: 3.5em;
  margin-top: 5rem;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.footer h3 {
  margin-top: 2em;
}
.iconContainer{
  display:flex;
}

.iconContainer  a {
  margin-left: 2em;
  margin-right: 2em;
}